/* Calendário */
.calendario-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.calendario-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 300px;
}

.calendario-header button {
    background-color: #2a2d72;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.calendario-header h2 {
    margin: 0;
    color: #2a2d72;
}

.calendario {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 10px;
}

.dia {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
}

.dia.destaque {
    background-color: #ffea00;
}

.dia:hover {
    background-color: #ddd;
}
