/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #7073a9;
    color: white;
    padding: 1rem 0;
    position: relative;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

header img {
    vertical-align: middle;
}

header h1 {
    display: inline;
    margin-left: 10px;
    vertical-align: middle;
}

/* Menu Hamburguer */
.menu-hamburguer {
    display: none; /* Inicialmente escondido */
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.menu-hamburguer .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px auto;
    transition: 0.3s;
}

/* Navegação principal e de autenticação */
.nav-main {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.nav-auth {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Mostrar o menu hamburguer em telas pequenas */
@media (max-width: 768px) {
    .nav-main {
        display: none; /* Esconde navegação principal em telas pequenas */
    }

    .nav-auth {
        display: none; /* Esconde navegação de autenticação em telas pequenas */
    }

    .menu-hamburguer {
        display: block;
    }
}

/* Main */
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

main h2 {
    color: #7073a9;
    margin-bottom: 20px;
}

form#filtroAnimais {
    margin-bottom: 20px;
}

form#filtroAnimais label {
    display: inline-block;
    margin-right: 20px;
}

/* Pet List */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

ul li img {
    border-radius: 8px;
    margin-right: 20px;
    max-height: 100px;
    max-width: 100px;
}

/* Footer */
footer {
    background-color: #7073a9;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

footer nav {
    margin-bottom: 1rem;
}

footer nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

footer nav a:hover {
    text-decoration: underline;
}

footer section {
    margin-top: 1rem;
}

footer img {
    margin-top: 1rem;
}
